:host {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.menu {
  display: inline-flex;
  flex-direction: column;
  background: #6d6d6d;
  padding: 5px;

  hr {
    width: 100%;
  }
}

.upper-tray,
.tray,
.cutting {
  margin-bottom: 6px;
}

.tray {
  margin-left: 8px;
}

.cutting {
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 3px 5px;
}
