:host {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.menu {
  display: inline-flex;
  flex-direction: column;
  background: #6d6d6d;
  padding: 5px;

  hr {
    width: 100%;
  }
}

.upper-tray {
  display: flex;
  align-items: center;
  padding: 3px 10px;

  .buttons {
    display: flex;
    gap: 4px;
  }

  .buttons, .file-header, .icons {
    flex: 1 1;
  }

  .file-header {
    display: flex;
    justify-content: center;

    .file {
      display: flex;
      padding:  4px;
      border: 1px solid rgba(128, 128, 128, 0.199);
      border-radius: 6px;
      align-items: center;
      gap: 4px;
      font-size: 13px;
      min-width: 200px;
      justify-content: center;
      cursor: pointer;
      &:hover {
        background: rgba(128, 128, 128, 0.192);
      }

      app-icon {
        font-size: 18px;
      }
    }
  }
}

.upper-tray,
.tray,
.cutting {
  margin-bottom: 6px;
}

.tray {
  margin-left: 8px;
}

.cutting {
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 3px 5px;
}
