:host {
  display: contents;
}

.tree-item {
  display: flex;
  cursor: pointer;
  border-radius: 4px;
  padding-left: 4px;
  white-space: nowrap;
  position: relative;
  text-overflow: ellipsis;

  &.child {
    padding-left: 14px;
  }

  .sub-link {
    position: absolute;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    height: 100px;
    width: 4px;
    left: 6px;
    bottom: 12px;
  }

  &:hover {
    background: #fefefe2b;
  }

  &.active {
    background: #e3a856;
    color: black;
  }
}

.toggle-children-icon {
  cursor: pointer;
  color: gold;
  user-select: none;
}

.cut {
  opacity: 0.5;
}

.children-label {
  padding: 0 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;

  > .link {
    position: absolute;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    height: 8px;
    width: 4px;
    left: 6px;
    top: 2px;
  }

  &.active {
    background: #e3a856;
    color: black;
  }
}

.children {
  margin-left: 16px;
  overflow: hidden;
}
