@let selectedNodes = editor().selectedNodesSet.value$ | async;
@let childrenSelected = editor().isChildrenSelected.value$ | async;

@let isNodeSelected = selectedNodes?.has(node());

@let nodePreviewMiniUI = previewer() | async;

<div
  class="tree-item"
  [class.active]="isNodeSelected && !childrenSelected"
  (click)="selectNode(node())"
>
  @if (nodePreviewMiniUI) {
    <app-mini-ui [miniUi]="nodePreviewMiniUI" />
  } @else {
    {{ node().getConfigId() }}
  }
</div>

@let childNodes = node().childNodes.value$ | async;

<div
  class="children-label"
  [class.active]="isNodeSelected && childrenSelected"
  (click)="selectNodeChildren()"
>
  <div class="link"></div>
  Children
</div>

@if (childNodes?.length) {
  <div class="children">
    @for (childNode of childNodes; track childNode.id) {
      <app-node-editor-tree-item [node]="childNode" [editor]="editor()" />
    }
  </div>
}
