:host {
  display: contents;
}

.tree-item {
  display: flex;
  cursor: pointer;
  border-radius: 4px;
  padding-left: 4px;

  &:hover {
    background: #fefefe2b;
  }

  &.active {
    background: #e3a856;
    color: black;
  }
}

.children-label {
  padding: 0 14px;
  cursor: pointer;
  position: relative;

  > .link {
    position: absolute;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    height: 8px;
    width: 4px;
    left: 6px;
    top: 2px;
  }

  &.active {
    background: #e3a856;
    color: black;
  }
}

.children {
  margin-left: 16px;
}
