<div class="title">Do you wish to delete a node?</div>

<app-mini-ui [miniUi]="dialogData.editor.nodePreviewer(dialogData.node).parts"></app-mini-ui>

@let refCount = dialogData.node.referencedByPropertiesSet.size;

<div class="content">This node is referenced {{ refCount }} times</div>

@if (refCount) {
  <button (click)="showReferences.update(v => !v)">
    {{ showReferences() ? 'Hide References' : 'Show References' }} ({{ refCount }})
  </button>

  @if (showReferences()) {
    @let refs = dialogData.node.referencedByPropertiesSet.getItems();

    <div class="refs">
      @for (ref of refs; track $index) {
        <div class="ref">
          <ng-template #parent let-node="node" [typedTemplate]="ParentTemplate">
            @let refParent = node.parent.getValue();
            @if (refParent) {
              <ng-container *ngTemplateOutlet="parent; context: { node: node.parent.getValue() }" />

              <app-mini-ui [miniUi]="dialogData.editor.nodePreviewer(refParent).parts" />

              <div class="separator">•</div>
            }
          </ng-template>

          <ng-container *ngTemplateOutlet="parent; context: { node: ref.parentNode }" />

          <app-mini-ui [miniUi]="dialogData.editor.nodePreviewer(ref.parentNode).parts" />
        </div>
      }
    </div>
  }
}

@if (refCount) {
  <div>Please, remove all existing node usages before deleting a node</div>
}

<div class="actions">
  <button (click)="close({ delete: true })">
    <app-icon>delete</app-icon>
    {{ refCount ? 'Delete Anyway' : 'Delete' }}
  </button>

  <button (click)="close({ delete: false })"><app-icon>cancel</app-icon> Cancel</button>
</div>
